.nav {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

nav {
    text-decoration: none;
    list-style: none;
    display: flex;
    max-width: 100%;
}

li {
    text-decoration: none;
    list-style: none;
    float: left;
    margin: 3rem;
}

li a {
    text-decoration: none;
}

ul {
    text-decoration: none;
    display: flex;

}


